/* Import Global CSS */
@import url("./global.css");

/* Start Of Alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: var(--radius);
  letter-spacing: var(--letter-spacing);
  border: 1px solid transparent;
  text-align: center;
  text-transform: capitalize;
  transition: var(--transition-2);
}

.alert-error {
  background: var(--red-light);
  color: var(--red-dark);
  border-color: rgb(245, 198, 203);
}

.alert-success {
  background: var(--green-light);
  color: var(--green-dark);
  border-color: rgb(195, 230, 203);
}

.alert-warn {
  background: var(--yellow-light);
  color: var(--yellow-dark);
  border-color: rgb(255, 238, 186);
}

.alert-info {
  background: var(--blue-light);
  color: var(--blue-dark);
  border-color: rgb(184, 218, 255);
}
/* End Of Alerts */

/* Start Of Media Queries */
/* Small Phones */
@media screen and (min-width: 320px) {
}
/* Medium Phones */
@media screen and (min-width: 375px) {
}
/* Large Phones */
@media screen and (min-width: 425px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Laptops */
@media screen and (min-width: 1024px) {
  .alert-info {
    /* Remove the line bellow if needed. It makes the element go full width in a grid template */
    grid-column: 1 / -1;
  }
}

/* Large Laptops */
@media screen and (min-width: 1440px) {
}

/* 4K Screens */
@media screen and (min-width: 2560px) {
}
/* End Of Media Queries */
