/* Import Global CSS */
@import url("./global.css");

/* Start Of Animations */
.animation {
  width: 5rem;
  height: 5rem;
  border: 5px solid var(--gray-400);
  border-top-color: var(--primary-500);

  animation-name: loading-circle;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  /* animation: loading-circle 0.6s linear infinite; */

  margin: 0 auto;
  margin-top: 2rem;
}

.animation-circle {
  border-radius: var(--radius-circle);
}

.animation-square {
  border-color: var(--primary-500);
  animation-duration: 3s;
  animation-name: loading-square;
}

.animation-progress {
  width: 0%;
  height: 1.5rem;
  transition: var(--transition-2);
  background-color: var(--primary-500);
  box-shadow: 0 10px 15px -3px rgb(144 238 144 / 0.1),
    0 4px 6px -4px rgb(144 238 144 / 0.1);

  border-color: transparent;
  animation-name: progress;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

#pbar {
  margin: 0 auto;
  margin-top: 1rem;
  width: 80%;
  height: 1.5rem;
  border-radius: var(--radius);
  background-color: var(--white-mid);
  box-shadow: 0 10px 15px -3px rgb(231 231 231 / 0.1),
    0 4px 6px -4px rgb(231 231 231 / 0.1);
}

#progress {
  width: 0%;
  height: 1.5rem;
  transition: var(--transition-2);
  background-color: var(--primary-500);
  box-shadow: 0 10px 15px -3px rgb(144 238 144 / 0.1),
    0 4px 6px -4px rgb(144 238 144 / 0.1);
  animation-name: loading-progress;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes loading-circle {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading-progress {
  to {
    width: 64%;
  }
}

@keyframes loading-square {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/* End Of Animations */

/* Start Of Media Queries */
/* Small Phones */
@media screen and (min-width: 320px) {
}
/* Medium Phones */
@media screen and (min-width: 375px) {
}
/* Large Phones */
@media screen and (min-width: 425px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Laptops */
@media screen and (min-width: 1024px) {
}

/* Large Laptops */
@media screen and (min-width: 1440px) {
}

/* 4K Screens */
@media screen and (min-width: 2560px) {
}
/* End Of Media Queries */
