/*
==============================
*   Made With Love By MiceX.Pro Team.
*   Globbal styles only!
*   Buttons, forms, inputs, etc.
==============================
*/

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;600&family=Roboto:wght@100;400;500&display=swap");

*,
::before,
::after {
  /* Additional default web browser styles reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Color */
  --primary-50: #f1fbf8;
  --primary-100: #d6f3e8;
  --primary-200: #ade7d1;
  --primary-300: #83dcbb;
  --primary-400: #5ad0a4;
  --primary-500: #31c48d; /* Default Primary Color */
  --primary-600: #269e72;
  --primary-700: #1d7655;
  --primary-800: #144e38;
  --primary-900: #0a271c;

  /* Gray Colors */
  --gray-50: #fafafa;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* Additional Colors */
  --white: #fff;
  --white-mid: #e7e7e7;
  --white-bone: #f9f6ee;

  --black: #0d0d0d;
  --black-mid: #222222;
  --black-light: #333333;

  --red-light: #f8d7da;
  --red-mid: #f24646;
  --red-dark: #842029;

  --green-dark: #0f5132;
  --green-mid: #90ee90;
  --green-light: #d1e7dd;

  --yellow-dark: #856404;
  --yellow-mid: #ffc107;
  --yellow-light: #fff8e5;

  --blue-dark: #004085;
  --blue-mid: #0d6efd;
  --blue-light: #cce5ff;

  --orange: #fd7e14;
  --pink: #d63384;
  --purple: #6f42c1;

  /* Shadows */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* Gradients */
  --gradient-opacity: 0.013;

  /* Text Styles */
  --ff-heading: "Roboto Slab", serif;
  --ff-body: "Roboto", sans-serif;
  --smallText: 0.7em;
  --color-bg: var(--gray-100);
  --color-txt: var(--gray-900);

  --letter-spacing: 0.1rem;
  --line-height: 1.5;

  /* Border Styles */
  --radius-circle: 50%;
  --radius-half-circle: 3.125rem;
  --radius: 0.25rem;

  /* Animations / Transitions / Scales */
  --transition-5: 0.5s ease-in-out all;
  --transition-2: 0.2s ease-in-out all;
  --transition-1: 0.1s ease-in-out all;

  /* Div Styles */
  --width-max: 1120px;
  --width-section: 550px;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  font-family: var(--ff-body);
  font-weight: 500;
  line-height: 1.75;
  color: var(--txtColor);
}

/* Start Of Custom Scroll Bar */
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary-300);
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
/* End Of Custom Scroll Bar */
/* Start hide / show */
.hide {
  display: none !important;
}

.show {
  display: inline-block !important;
}
/* End hide / show */
/* Start Of Section */
.section {
  max-width: var(--width-section);
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.section-title {
  text-align: center;
  color: var(--primary-600);
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

.section-content {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  /* responsive */
  flex-direction: column;
}
/* End Of Section */
/* Start Of Paragraph */
p {
  margin-bottom: 1.5rem;
  max-width: 40em;
  width: 90%;
}
/* End Of Paragraph */
/* Start Of Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

/* End Of Headings */
/* Start of Anchors */
a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-txt);
  letter-spacing: 1px;
  font-size: 1rem;
  transition: var(--transition-2);
  margin-bottom: 1rem;
}

.nav-anchor:hover {
  color: var(--primary-500);
}

.link:hover {
  color: var(--primary-500);
  transform: scale(1.1);
}

.footer-anchor:hover {
  color: var(--primary-500);
  padding-left: 3rem;
  text-shadow: 0 4px 6px -1px rgb(49 196 141 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}
/* End Of Anchors */
/* Start Of Small Text */
small,
.text_small {
  font-size: var(--smallText);
  margin-bottom: 0;
}
/* End Of Small Text */
/* Start Of Lists */
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li {
  text-transform: capitalize;
}
/* End Of Lists */
/* Start Of Images */
.container {
  width: 50vw;
  max-width: var(--width-max);
}

.img {
  width: 100%;
  display: block; /* Remove the space from the bottom of the container */
  object-fit: cover;
}
/* End Of Images */
/* Start Of Buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background-color: var(--primary-500);
  border: 2px solid transparent;
  border-radius: var(--radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition-2);
  text-transform: capitalize;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.btn:hover {
  background-color: var(--primary-700);
  box-shadow: var(--shadow-3);
  font-weight: 500;
}

.btn-reverse {
  background-color: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-reverse:hover {
  box-shadow: var(--shadow-1);
  background-color: var(--primary-500);
}

.btn-hollow {
  background-color: transparent;
  border-color: var(--primary-500);
  color: var(--primary-500);
}

.btn-hollow:hover {
  background-color: var(--primary-500);
  color: var(--white);
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}

.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-rounded {
  border-radius: var(--radius-half-circle);
}

.btn-scaled:hover {
  transform: scale(1.05);
}

.btn-block {
  width: 100%;
  /* Remove the line bellow if needed. I makes the element go full width in a grid template */
  grid-column: 1 / -1;
}
/* End Of Buttons */
/* Start Of Alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: var(--radius);
  letter-spacing: var(--letter-spacing);
  border: 1px solid transparent;
  text-align: center;
  text-transform: capitalize;
  transition: var(--transition-2);
}

.alert-error {
  background: var(--red-light);
  color: var(--red-dark);
  border-color: rgb(245, 198, 203);
}

.alert-success {
  background: var(--green-light);
  color: var(--green-dark);
  border-color: rgb(195, 230, 203);
}

.alert-warn {
  background: var(--yellow-light);
  color: var(--yellow-dark);
  border-color: rgb(255, 238, 186);
}

.alert-info {
  background: var(--blue-light);
  color: var(--blue-dark);
  border-color: rgb(184, 218, 255);
}
/* End Of Alerts */
/* Start Of Form */
.form {
  max-width: var(--width-section);
  width: 90vw;
  border: 1px solid var(--primary-600);
  border-radius: var(--radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  background-color: var(--primary-50);
  margin: 3rem auto;
  overflow: auto;
}

.form::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.form::-webkit-scrollbar-thumb {
  background-color: var(--primary-300);
  border-radius: 10px;
}

.form::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.form h4 {
  color: var(--primary-600);
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
  border: 2px solid var(--primary-200);
  background-color: var(--color-bg);
  transition: var(--transition-2);
}

.form-input:focus,
.form-textarea:focus, .modern-input:focus {
  outline: none;
  border: 2px solid var(--primary-500);
  font-family: inherit;
  letter-spacing: var(--letter-spacing);
}

.form-input:valid,
.form-textarea:valid {
  outline: none;
  border: 2px solid var(--primary-500);
  letter-spacing: var(--letter-spacing);

}

.form-row {
  position: relative;
  margin-bottom: 1rem;
}

::placeholder {
  font-family: inherit;
  color: var(--gray-400);
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

.form-alert-error {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  transition: var(--transition-2);
}

.form-alert-success {
  color: var(--green-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  transition: var(--transition-2);
}

.modern-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  position: absolute;
  left: 0.9rem;
  top: -0.7rem;
  transition: 0.2s ease-in-out top;
  pointer-events: none;
  z-index: 100;
}

.modern-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
  border: 2px solid var(--primary-200);
  background-color: var(--color-bg);
  transition: var(--transition-2);
  margin-bottom: 1rem;
}

.modern-input:hover + .modern-label {
  top: -1.25rem;
}
.modern-input:valid + .modern-label {
  top: -1.25rem;
  color: var(--primary-600);
}
.modern-input:focus + .modern-label {
  top: -1.25rem;
  color: var(--primary-600);
}

.modern-input:valid {
  outline: none;
  border: 2px solid var(--primary-500) !important;
  letter-spacing: var(--letter-spacing);
}

.input-line {
  height: 2px;
  background: var(--primary-50);
  width: 5.5rem;
  margin-left: 0.5rem;
  z-index: 50;
  position: absolute;
}

/* 
  * To calculate the center of the line you need to calculate the length of the label:
    * the label should have a font-size of 0.7em and a letter-spacing of 0.1rem.
    * To calculate the width of the label, we need to take into account the font-size, letter-spacing, and the length of the label text. Assuming the font family is consistent, * we can estimate an average width of each character to be around 0.5em.
    * So the width of the label with the text "username *" would be:
    * (8 characters * 0.5em) + (0.1rem * 7) = 4em + 0.7rem = 4.7rem\
  * If the input-line has a width of 5.5 rem than the center should be (5.5 - 4.7)/2 = (0.8)/2 = 0.4. so the start position of the label should start at left: 0.4rem. 
*/

.form-snewsletter{
  display: flex;
  justify-content: center;
}

.input-line-center{
  margin: 0;
  width: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-line-center .modern-label{
  position: initial;
  margin: 0;
  text-align: center;
}

.form-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  transition: var(--transition-2);
  float: left;
}

.form-switch:hover {
  transform: scale(1.02);
}

.form-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-200);
  transition: var(--transition-2);
}

.slider:hover {
  background-color: var(--primary-200);
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: var(--transition-2);
}

input:checked + .slider {
  background-color: var(--primary-400);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--gray-200);
}

input:checked + .slider:before {
  transform: translateX(26px);
  box-shadow: 0 0 1px var(--primary-400);
}

.round {
  border-radius: 34px;
}

.condition-label {
  display: inline;
  margin: 0;
  font-size: 0.7rem;
}

.condition-label .link {
  font-size: 0.7rem;
}

.slider.round:before {
  border-radius: var(--radius-circle);
}

.form-row-condition{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0 1rem;
}

.forgot-credentials{
  justify-content: center;
}

#capslock-warning{
  color: var(--red-dark);
  display: none;
}

.form-password-visibility{
  background: transparent;
  border: none;
  color: var(--black-mid);
  box-shadow: none;
  text-shadow: var(--shadow-2);
  position: absolute;
  right: 0;
  text-align: right;
  top: 25%;
  transform: translateY(-25%);
}

.form-password-visibility:hover{
  border: none;
  background-color: transparent;
  box-shadow: none;
  text-shadow: var(--shadow-2);
  color: var(--primary-500);
}

/* End Of Form */

/* Responsive - media queries */
/* Tablets */
@media screen and (min-width: 768px) {
  .heading-section .section-content,
  .anchors-section .section-content,
  .buttons-section .section-content,
  .alerts-section .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 5rem;
  }

  .anchors-section .section-content,
  .small-section .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 0 1rem;
  }
}

/* Laptops */
@media screen and (min-width: 1024px) {
  .heading-section .section-content,
  .anchors-section .section-content,
  .buttons-section .section-content,
  .alerts-section .section-content,
  .anchors-section .section-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1.5rem;
  }

  .alert-info {
    /* Remove the line bellow if needed. I makes the element go full width in a grid template */
    grid-column: 1 / -1;
  }

  .form-section .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.5rem;
  }
}

/* Large Laptops */
@media screen and (min-width: 1440px) {
  .form-section .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.5rem;
  }
}

/* START Animations */
@keyframes test {
  from {
    top: -1rem;
  }
  to {
    top: -1.25rem;
  }
}
/* END Animations */
